<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>An Example Title</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>This site was accessed at <%= time %></p>
    <p>You are user number <%= id %>.</p>
    <p>It has been <%= diff %> seconds since you last accessed this website.</p>
  </body>
</html>